@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
    @font-face {
      font-family: Klein;
      src: url('fonts/klein/Klein-Book.ttf') format("woff");
    }
  
    @font-face {
      font-family: TheSeasons2;
      src: url('fonts/TheSeasons/TheSeasonsLight.ttf') format("woff");
    }

    @font-face {
      font-family: TheSeasons;
      src: url('fonts/Source_Serif_4/SourceSerif4-VariableFont_opsz\,wght.ttf') format("woff");
    }
}

body {
  width: 100%;
  padding: 4% 12%;
  position: relative;
}

@media (max-width: 768px) {
  body {
    padding: 5% 2%;
  }
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiperSlide {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
}

.swiperSlide3 {
  width: 100% !important;
  min-height: 100% !important;
  display: flex !important;
  flex-direction: row !important;
}

.mySwiper {
  padding: 2.5rem 0px 2.5rem 0px !important;
  position: relative !important;
}

@media (max-width: 639px) {
  .swiperSlide {
    flex-direction: column !important;
  }
}

.lineChange {
  line-height: 3.5rem !important;
}

@media (max-width: 1280px) {
  .lineChange {
    line-height: 1 !important;
  }
}

.lineChange2 {
  line-height: 2.25rem !important;
}

@media (max-width: 1280px) {
  .lineChange2 {
    line-height: 1.5 !important;
  }
}

.mySwiper2 {
  width: 100% !important;
  height: 80% !important;
}

.mySwiper3 .swiper-slide-thumb-active {
  opacity: 1 !important;
}

.modalSlide {
  width: 100% !important;
  min-height: 100% !important;
  display: flex !important;
  object-fit: cover !important;
}

.modalSlide2 {
  opacity: 0.5 !important;
}

.overflow-y-scroll {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #705555;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(243 244 246 / 1);
  }

  ::-webkit-scrollbar-horizontal {
    height: 4px;
  }
}

@media (max-width: 639px) {
  .overflow-y-scroll {
    ::-webkit-scrollbar {
      width: 3px;
    }
  }
}